################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug/ImGui Lo.82212CF7.tlog
/Debug
/release
/Release
/stupidfiles
/Release/imgui.obj
